*~
.DS_Store
*.csv
*.o
LUSTREC_not_valid_models/
not_valid_models/
lustre_files/
*temp*
*PP.slx*
*PP.mdl*
*.slx.r*
*.mdl.r*
Simulink/unitTests/slprj/
slprj/
*.original
guideLines/
*.mexmaci64
*.slmx
*.lusi
*.c 
*.h
*.lusic 
*.smt2 
*.makefile
*.slxc
*_outputs_values
*_mapping.json
*_input_values
*.toLustre.trace.xml
*.LUSTREC_*
*.LUSTREC.mat